<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wetongji_android"
    android:versionCode="5"
    android:versionName="3.0.0--α" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <!-- for download updates -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <!-- for fetch info from the server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- for write update files, images, etc. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_home"
        android:label="@string/app_name"
        android:name="com.wetongji_android.util.common.WTApplication"
        android:theme="@style/WTTheme" >
        
        <activity
            android:name="com.wetongji_android.ui.main.MainActivity"
            android:label="@string/app_name" >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>

        <service
            android:name="com.wetongji_android.util.auth.AuthenticationService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data 
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <activity 
            android:name="com.wetongji_android.ui.welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.wetongji_android.ui.event.EventDetailActivity"
            android:label="@string/title_mainmenu_events">
        </activity>
        
        <activity 
            android:name="com.wetongji_android.ui.informations.InformationDetailActivity"
            android:label="@string/title_mainmenu_events">
        </activity>
        
        <activity
            android:name="com.wetongji_android.ui.auth.IntroActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.wetongji_android.ui.auth.AuthActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.accounts.AccountAuthenticatorActivity" />
        </activity>
        
        <activity android:name="com.android.camera.CropImage"
            android:label="@string/app_name">
        </activity>
        
        <activity android:name="com.wetongji_android.util.common.WTFullScreenActivity"
            android:label="@string/app_name">
        </activity>
        
        <activity 
            android:name="com.wetongji_android.ui.people.PersonDetailActivity"
            android:label="@string/app_name">
        </activity>
        
        <activity 
            android:name="com.wetongji_android.ui.people.PeopleListActivity"
            android:label="@string/app_name">
        </activity>
        
        <!-- Friend List Activity -->
        <activity 
            android:name="com.wetongji_android.ui.friend.FriendListActivity"
            android:label="@string/friend_activity_name">
        </activity>
        
         <!-- Friend Detail Activity -->
         <activity 
            android:name="com.wetongji_android.ui.friend.FriendDetailActivity"
            android:label="@string/friend_activity_name">
        </activity>
        
         <!-- Friend Invite Activity -->
         <activity 
            android:name="com.wetongji_android.ui.friend.FriendInviteActivity"
            android:label="@string/invite_friends">
        </activity>
        
    </application>

</manifest>