<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wetongji_android"
    android:versionCode="7"
    android:versionName="3.1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <!-- for download updates -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <!-- for fetch info from the server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- for write update files, images, etc. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	
    <application
        android:name="com.wetongji_android.util.common.WTApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_home"
        android:theme="@style/WTTheme" >
        <activity
            android:name="com.wetongji_android.ui.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>

        <service
            android:name="com.wetongji_android.util.auth.AuthenticationService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service android:name=".service.WeNotificationService"
                 android:enabled="true">
        </service>

        <activity
            android:name="com.wetongji_android.ui.welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
                android:name="com.wetongji_android.ui.main.SplashActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.NoTitleBar"
                android:noHistory="true">
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />
                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
        </activity>
        <activity
            android:name="com.wetongji_android.ui.event.EventDetailActivity"
            android:label="@string/title_mainmenu_events" >
        </activity>
        <activity
            android:name="com.wetongji_android.ui.informations.InformationDetailActivity"
            android:label="@string/title_mainmenu_events" >
        </activity>
        <activity
            android:name="com.wetongji_android.ui.auth.IntroActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wetongji_android.ui.auth.AuthActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.accounts.AccountAuthenticatorActivity" />
        </activity>
        <activity
            android:name="com.android.camera.CropImage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wetongji_android.util.common.WTFullScreenActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wetongji_android.ui.people.PersonDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wetongji_android.ui.people.PeopleListActivity"
            android:label="@string/text_people" >
        </activity>

        <!-- Friend List Activity -->
        <activity
            android:name="com.wetongji_android.ui.friend.FriendListActivity"
            android:label="@string/friend_activity_name" >
        </activity>

        <!-- Friend Detail Activity -->
        <activity
            android:name="com.wetongji_android.ui.friend.FriendDetailActivity"
            android:label="@string/friend_activity_name" >
        </activity>

        <!-- Friend Invite Activity -->
        <activity
            android:name="com.wetongji_android.ui.friend.FriendInviteActivity"
            android:label="@string/invite_friends" >
        </activity>

        <!-- Course Detail Activity -->
        <activity android:name="com.wetongji_android.ui.course.CourseDetailActivity" >
             android:label="@string/activity_label_schedule""
            <!--
            intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter
            -->
        </activity>

        <!-- Account Detail -->
        <activity android:name="com.wetongji_android.ui.account.AccountDetailActivity" >
        </activity>
        <activity android:name="com.wetongji_android.ui.profile.ProfileUpdateActivity" >
        </activity>
        <activity
            android:name="com.wetongji_android.ui.profile.ProfileInfoActivity"
            android:label="@string/title_activity_profile_info" >
        </activity>
        
        <activity
            android:name="com.wetongji_android.ui.event.EventsListActivity">
        </activity>
        
        <activity 
            android:name="com.wetongji_android.ui.informations.InformationListActivity">
        </activity>
        
        <activity
            android:name="com.wetongji_android.ui.course.CourseListActivity">
        </activity>
        
        <activity
            android:name="com.wetongji_android.util.common.WTLikeListActivity">
        </activity>
        
        <activity 
            android:name="com.wetongji_android.ui.setting.WTSettingActivity"
            android:label="@string/setting_label">
        </activity>

        <!-- Assistant : webview -->
        <activity
                android:name="com.wetongji_android.ui.webview.WebViewActivity"
                android:label="WebView">
        </activity>

        <!-- Assistant : guide -->
        <activity
                android:name="com.wetongji_android.ui.guide.GuideListActivity"
                android:label="Guide">
        </activity>
        <activity
                android:name="com.wetongji_android.ui.guide.GuideDetailActivity"
                android:label="Guide Detail">
        </activity>
        <activity
                android:name="com.wetongji_android.ui.tel.TelActivity"
                android:label="Tels">
        </activity>
        
        <activity 
            android:name="com.wetongji_android.ui.setting.WTChangePwdActivity"
            android:label="@string/change_pwd_label">
        </activity>
        
        <activity 
            android:name="com.wetongji_android.ui.setting.WTAboutActivity">
        </activity>
        
        <activity
            android:name="com.wetongji_android.ui.setting.WTTermsOfUseActivity"
            android:label="@string/titile_terms_of_use">
        </activity>
        
        <activity 
            android:name="com.wetongji_android.util.common.WTForgetPwdActivity"
            android:label="@string/forget_title"></activity>
        <activity android:name=".ui.assistant.AssistantFragment"/>
    </application>

</manifest>